<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hora actual</title>
</head>
<body>
    <div>
        <h1 style="color: red" >La hora es: {{ hora }}</h1> 
    </div>
    <div>
        <h1 style="color: red" >La hora adelantada es: {{ adelantado }}</h1> 
    </div>
    <div>
        <h1 style="color: blue" >Hagamos una suma:</h1> 
    </div>
    <div>
        <h1 style="color: blue" >Ingresa un número {{n1}}</h1> 
    </div>
    <div>
        <h1 style="color: blue" >Ingresa otra cifra {{n2}}</h1> 
    </div>
    <div>
        <h1 style="color: blue" >El resultado de la suma es: {{ r }}</h1> 
    </div>
</body>
</html>