<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista - test </title>
</head>
<body>

    <section>
        {% for noticia in noticias %}

        <div>
            <h1>
                Autor: {{noticia.author}}
            </h1>
        </div>
        <div>
            <h1>
                Título: {{noticia.title}}
            </h1>
        </div>
        <div>
            <h1>
                Noticia: {{noticia.text}}
            </h1>
        </div>
        <div>
            <h1>
                Creación: {{noticia.created_date}}
            </h1>
        </div>
        <div>
            <h1>
                Publicación: {{noticia.published_date}}
            </h1>
        </div>
        <div>
            <h1>
                Imagen: {{noticia.image}}
            </h1>
        </div>

        {% endfor %}
    </section>
    
</body>
</html>